<html>
  
              
   
    <br><br><br><br><br><br>
   
        
    
<!---<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet" >

</head>
<body>
   
    <div class="rating">
        <input type="radio" name="star" id="star1"><label for="star1"></label>
        <input type="radio" name="star" id="star2"><label for="star2"></label>
        <input type="radio" name="star" id="star3"><label for="star3"></label>
        <input type="radio" name="star" id="star4"><label for="star4"></label>
        <input type="radio" name="star" id="star5"><label for="star5"></label>
     
    </div>--->
   <p>Please help us to serve you better by taking a couple if minutes.</p>
   <br>
   <p class="sta">How satisfied were you with our ProductService?</p>
   <br>
   <section class="rate">
   <input class="first" type="radio" name="star"><label >Excellent</label>
   <br>
   <input type="radio" name="star"><label>Good</label>
   <br>
   <input type="radio" name="star"><label>Neutral</label>
   <br>
   <input type="radio" name="star"><label>Poor</label>
</section>
   <br>

   <form>
       <br>
       <br>
       <br>
       <label>Describe yor experiance</label>
       <br>
       <br>
      <input type="text" class="form-control" placeholder="Describe...">
      <button class="btn btn-primary">Post</button>

   </form>




   
  



</html>


