<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
      <h2>Welcome NGO Member</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <!-- <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure> -->
          <h3> <a routerLink = '/ListMembers'>Member's List</a></h3>
          <p>List of the All the Members that are associated with the NGO</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <!-- <i class="fa fa-cog fa-8x"></i> -->
          <h3><a routerLink="/Member">Add member</a></h3>

          <p>Will be able to Add new Member to the Nobel cause</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <!-- <figure><i class="bi bi-chat-right-text-fill"></i></figure> -->
          <h3><a routerLink="/Feedback">feedback's</a></h3>
          <p>See all the Feedbacks that you Recived.</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <!-- <figure><i class="bi bi-chat-right-text-fill"></i></figure> -->
          <h3><a routerLink="/ListMembers">Edit/ delete</a></h3>
          <p>Edit or Delete the details of the Members of the NGO.</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
